* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* For both pages */

header {
    display: block;
    background-color: rgb(3, 163, 223);
    color: white;
    padding: 2rem;
}

header a {
    color: white;
    font-weight: bold;
}
header a:visited {
    color: rgb(236, 183, 34);
}

.item1 {
    float: right;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    color: white;
    padding: 2rem;
    margin-top: 5%;
    background-image: url(https://github.com/UWFront-End-Cert/html100/blob/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg?raw=true)
}

/* Home page */

.item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    border: 3px rgb(236, 183, 34) solid;
    padding: 2%;
    margin: 1rem;
}

.item3 {
    grid-column-start: 4;
    grid-column-end: 4;
    text-align: center;
}

.item4 {
    grid-column: 2 / 4;
    text-align: center;
}

h2 {
    color: rgb(3, 163, 223);
}

.instructor-header {
    font-size: 45px;
    text-align: center;
}

.instructors {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.instructors h3 {
    font-size: 30px;
}

.teacher {
    width: 90%;
    background-color: rgb(27, 68, 127);
    color: rgb(236, 183, 34);
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
}

.item6 {
    text-align: center;
}

/* Services page */

.classes {
    grid-column-start: 1;
    grid-column-end: 4;
}

.classes h2 {
    text-align: center;
    font-size: xx-large;
}

.class-info {
    border: 3px rgb(236, 183, 34) solid;
    padding: 2%;
    margin: 1rem;
}

.lessons {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 3px rgb(236, 183, 34) solid;
    padding: 2%;
    margin: 1rem;
}

.photos {
    grid-column-start: 2;
    grid-column-end: 4;
    float: inline-end;
}