* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
    background-color: rgb(3, 163, 223);
    color: white;
    padding: 2rem;
}

header a {
    color: white;
    font-weight: bold;
}
header a:visited {
    color: rgb(236, 183, 34);
}

.item1 {
    float: right;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item3 {
    grid-column-start: 4;
    grid-column-end: 4;
    align-items: center;
}

.item4 {
    grid-column: 2 / 4;
}

.instructors {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    margin: auto;
    padding: 2%;
    background-color: rgb(27, 68, 127);
    color: rgb(236, 183, 34);
}

h3 {
    font-size: 30px;
}

.derek {
    width: 33%;
}

.amy {
    width: 33%;
}

.nathan {
    width: 33%;
}